 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Sobre</h2>
                    <hr class="address-card-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Engenheiro de software apaixonado por tecnologia e desenvolvimento. Durante toda a minha  aventura como desenvolvedor, já tive a oportunidade de estar na pele do desenvolvedor web, back-end e mobile e Inegavelmente todas elas agregaram um montante de pontos de experiência incalculáveis para cada um dos meus níveis galgados ao longo dos anos.</p>
                </div>
                <div class="col-lg-4">
                    <p>Atualmente atuo como iOS developer e meu principal objetivo nessa jornada é trazer vida à ideias inovadoras e criar soluções para ajudar pessoas em seu cotidiano!</p>
                </div>
            </div>
        </div>
    </section>
